

.backgroundStyle {
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(105, 116, 126) 0%, rgba(0, 0, 255, 0) 50%, rgb(56, 56, 56) 95%);
  }

.titre{
    font-size: 65px;
    color: black;
}
.sousTitre{
font-size: 50px;
color: black;
}

ul {
    list-style-type:none;
    padding-top: 5px;
    margin: 2%;
    position: absolute;
    color: rgb(0, 0, 0);
}

li {
    display:inline-block;
   margin-right: 3px;
   width: 440px;
}


li a {
    display:block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: rgb(204, 202, 202);
    background-image: radial-gradient(ellipse farthest-corner at 40px 40px , rgb(82, 86, 90) 25%, rgba(0, 0, 255, 0) 50%, rgb(82, 82, 82) 75%);
    text-decoration: none;
    border-radius: 8px;
}
li:hover a {
    background-image: radial-gradient(ellipse farthest-corner at 40px 40px , rgb(125, 156, 185) 25%, rgba(0, 0, 255, 0) 50%, rgb(56, 56, 56) 90%);
}

li:hover ul a {
    background:rgb(204, 202, 202);
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

li:hover ul a:hover {
    background: #275ad3;
    color:rgb(204, 202, 202);
}


li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: 400px;
    min-width: 300px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

hr.haut {
    height: 18px;
    border: 0;
    box-shadow: inset 0 15px 12px -12px rgba(0, 0, 0, 1);
}

hr.bas{
    height: 18px;
    border: 0;
    box-shadow: inset 0 -15px 12px -12px rgba(0, 0, 0, 1);
}

hr.hautSousTitre{
    height: 10px;
    border: 0;
    box-shadow: inset 0 10px 12px -12px rgba(0, 0, 0, 1);
}

hr.basSousTitre{
    height: 10px;
    border: 0;
    box-shadow: inset 0 10px 12px -12px rgba(0, 0, 0, 1);
} 



  .gallery div {
	padding: 1rem;
    color: #fff;
    
}
.gallery div:nth-of-type(1) {
    
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(105, 116, 126) 0%, rgba(0, 0, 255, 0) 50%, rgb(56, 56, 56) 95%);
  
}
.gallery div:nth-of-type(2) {
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(105, 116, 126) 0%, rgba(0, 0, 255, 0) 50%, rgb(56, 56, 56) 95%);
  
}
.gallery div:nth-of-type(3) {
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(105, 116, 126) 0%, rgba(0, 0, 255, 0) 50%, rgb(56, 56, 56) 95%);
  
}
.gallery div:nth-of-type(4) {
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(105, 116, 126) 0%, rgba(0, 0, 255, 0) 50%, rgb(56, 56, 56) 95%);
  
}

.containerInfo {
    display: inline-flex;
    flex-direction: column;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;  
  }
  
  .gallery div {
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  
  /* alternate version */
  .containerInfo--alternate {
    display: inline-flex;
    justify-content: center;
    margin: 0 0 0 5vw;
  }
  .containerInfo--alternate nav a {
    display: block;
  }
  .containerInfo--alternate .gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    max-height: 150vh;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
  }
  .containerInfo--alternate .gallery div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .vertical-center {
    margin: auto;
    position: absolute;
    top: 50%;
    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .center {
    margin-left:20%;
    width: 60%;
   padding: 10px;
  }

 .link{
     color: black;
 }
 .link:hover{
     color: rgb(16, 98, 23);
 }
 

 #slideshow {
	margin: 0 auto;
	padding-top: 50px;
	height: 400px;
	
	background-color:rgb(161, 161, 161);
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 27px;
} .sub-heading-two {
	font-size: 24px;
} .sub-heading-three {
	font-size: 21px;
} .sub-heading-four {
	font-size: 18px;
} .sub-heading-five {
	font-size: 15px;
} .sub-heading-six {
	font-size: 13px;
} .sub-heading-seven {
	font-size: 11px;
} .sub-heading-eight {
	font-size: 9px;
} .sub-heading-nine {
	font-size: 7px;
}.sub-heading-ten {
	font-size: 5px;
}.sub-heading-eleven {
	font-size: 3px;
}.sub-heading-twelve {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 150px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 30s infinite linear;
	transform-style: preserve-3d;
}


.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(30deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(60deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(90deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(150deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(180deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(210deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(270deg) translateZ(300px); 
}.content-carrousel figure:nth-child(11) {
	transform: rotateY(300deg) translateZ(300px); 
}.content-carrousel figure:nth-child(12) {
	transform: rotateY(330deg) translateZ(300px); 
} .content-carrousel figure:nth-child(13) {
	transform: rotateY(360deg) translateZ(300px); 
}  

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
  }
}

dt{
    color: #000;
    font-size: 25px;
    text-align: left;
}

dd{

    color: rgb(44, 44, 44);
    font-size: 20px;
   
}

section.spoiler
{
    padding: 10px;
    width: 100%;
   
    cursor: pointer;
      
   
    display: block;
      
    padding: 3px;
    min-height: 1.25em;
}
  
section.spoilerDiv
{
    width: 50%;
    margin-left: 10px;
    margin-right: auto;
}
  
section.contenuSpoiler
{
    display: none;
}
  
.lienAfficher
{
    cursor: pointer;
    display: none;
}
  
.lienAfficher:hover
{
    text-decoration: underline;
}

.logo {

    width: 60px;
    margin: 15px;
   
}