

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#headerCv {
  background: url(../img/background-Cv.jpg) no-repeat center top;
  margin-top: 5px;
  padding-top: 160px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerCv h1 {
  font-size: 100px;
  color: beige;
}

#headerCv h3 {
  font-size: 50px;
  color:  beige;
}

#smoothCv {
  background-color: rgb(27, 27, 27);
  text-align: center ;
  background-attachment: relative;
  background-position: center center;
  margin-top: 5px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#smoothCv h4 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: beige;
  
}

a {
  color:  beige;
}

a:hover {
  color:rgb(102, 250, 76);
  text-decoration:none;
  }

#Technologies {
  background-color: rgb(206, 206, 206);
  margin-top: 10px;
  border-color: black;
  border: 1px;

} 

#Technologies h4 {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(3, 3, 3);
  
}


#slideshow {
	margin: 0 auto;
	padding-top: 50px;
	height: 400px;
	
	background-color:rgb(161, 161, 161);
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 27px;
} .sub-heading-two {
	font-size: 24px;
} .sub-heading-three {
	font-size: 21px;
} .sub-heading-four {
	font-size: 18px;
} .sub-heading-five {
	font-size: 15px;
} .sub-heading-six {
	font-size: 13px;
} .sub-heading-seven {
	font-size: 11px;
} .sub-heading-eight {
	font-size: 9px;
} .sub-heading-nine {
	font-size: 7px;
}.sub-heading-ten {
	font-size: 5px;
}.sub-heading-eleven {
	font-size: 3px;
}.sub-heading-twelve {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 150px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 30s infinite linear;
	transform-style: preserve-3d;
}


.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(30deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(60deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(90deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(150deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(180deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(210deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(270deg) translateZ(300px); 
}.content-carrousel figure:nth-child(11) {
	transform: rotateY(300deg) translateZ(300px); 
}.content-carrousel figure:nth-child(12) {
	transform: rotateY(330deg) translateZ(300px); 
} .content-carrousel figure:nth-child(13) {
	transform: rotateY(360deg) translateZ(300px); 
}  

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
  }
}  


#Formations {

  margin-top: 10px;
  background-color: gray;

}

#Formations h4 {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(3, 3, 3);
  
}


#ExperienceProfessionnelle{
  margin-top: 10px;
  background-color:  #555;;

}

#ExperienceProfessionnelle h4 {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(3, 3, 3);
  
}

#Contact {

  margin-top: 10px;
  background-color: gray;

}

#Contact h4 {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(3, 3, 3);
  
}

div
{
    background-image: radial-gradient(circle at top left, rgb(197, 197, 197), rgb(80, 83, 80));

    border-radius: 10px;
}